<div class="dashbox">
    <h3>
        <span title="<%= metric('psi').description -%>">
          <%= metric('psi').description -%>
        </span>
    </h3>

    <p>
    <span class="big">
        <% psi=measure('psi') %>
        <%= format_measure(psi) -%>
    </span>
        / 100
        <%= trend_icon(psi) %>
    </p>
</div>
